In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/kaggle/input/marketing-ab-testing/marketing_AB.csv')
data.head()

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14