In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('marketing_AB.csv', index_col=0)
data.head()

   user id test group  converted  total ads most ads day  most ads hour
0  1069124         ad      False        130       Monday             20
1  1119715         ad      False         93      Tuesday             22
2  1144181         ad      False         21      Tuesday             18
3  1435133         ad      False        355      Tuesday             10
4  1015700         ad      False        276       Friday             14

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 588101 entries, 0 to 588100
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user id        588101 non-null  int64
 1   test group     588101 non-null  object
 2   converted      588101 non-null  bool
 3   total ads      588101 non-null  int64
 4   most ads day   588101 non-null  object
 5   most ads hour  588101 non-null  int64
dtypes: bool(1), int64(3), object(2)
memory usage: 27.5+ MB

In [15]:
data["test group"].value_counts()

ad     564577
psa     23524
Name: test group, dtype: int64

In [18]:
data["test group"] == "ad"

0         True
1         True
2         True
3         True
4         True
          ...
588096    True
588097    True
588098    True
588099    True
588100    True
Name: test group, Length: 588101, dtype: bool

In [28]:
ad_group = data.loc[data["test group"] == 'ad']

In [29]:
psa_group = data.loc[data['test group'] == 'psa']

In [31]:
ad_group["converted"].value_counts()

False    550154
True      14423
Name: converted, dtype: int64

In [32]:
psa_group['converted'].value_counts()

False    23104
True       420
Name: converted, dtype: int64

In [33]:
ad_group['converted'].mean()

0.025546559636683747

In [34]:
psa_group['converted'].mean()

0.01785410644448223